/* Project Image Resize */
#projects .project-image img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

/* Project Tags */
.project-tags {
	text-align: center
}
.project-tags ul {
	display: block;
	margin: 0 auto;
	padding: 0;
	max-width: 800px
}
.project-tags li {
	display: inline-block;
	margin: 7px;
	padding: 5px 10px;
	color: #374054;
	background: #e4e4ea;
	list-style: none;
	cursor: default;
	font-size: 1.2em
}
