/* Project/Publication Image Resize */
#projects .project-image img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}
#publications .publication-image img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

/* Project Tags */
.project-tags {
	text-align: center
}
.project-tags ul {
	display: block;
	margin: 0 auto;
	padding: 0;
	max-width: 800px
}
.project-tags li {
	display: inline-block;
	margin: 7px;
	padding: 5px 10px;
	color: #374054;
	background: #e4e4ea;
	list-style: none;
	cursor: default;
	font-size: 1.2em
}

/* Publication Tags */
.publication-tags {
	text-align: center
}
.publication-tags ul {
	display: block;
	margin: 0 auto;
	padding: 0;
	max-width: 800px
}
.publication-tags li {
	display: inline-block;
	margin: 7px;
	padding: 5px 10px;
	color: #374054;
	background: #e4e4ea;
	list-style: none;
	cursor: default;
	font-size: 1.2em
}

/* Publications */
#publications {
	padding: 50px 15px;
	border-bottom: 1px solid #dcd9d9;
	text-align: center
}

#publications h2 {
	color: #374054;
	margin-bottom: 50px
}

.publication {
	position: relative;
	max-width: 900px;
	margin: 0 auto 30px auto;
	overflow: hidden;
	background: #fff;
	border-radius: 4px
}

.publication-image {
	float: left
}

.publication-info {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 300px;
	padding: 15px
}

.publication-info h3 {
	font-size: 1.5em;
	font-weight: 300;
	color: #374054;
	margin: 0 0 15px 0
}

.publication-info p {
	color: #74808a;
	margin: 0 0 15px 0;
	font-size: 0.9em
}

.no-image .publication-info {
	position: relative;
	margin: 0;
	padding: 30px 15px;
	transform: none
}

#more-publications {
	display: none
}

@media only screen and (max-width: 768px) {
	.publication-image {
		display: none
	}
	.publication-info {
		position: relative;
		margin: 0;
		padding: 30px 15px;
		top: auto;
		transform: none
	}
}