/*************/
/* Container */
/*************/
.container {
  /* Override default 720px */
  width: 800px;
  min-width: 800px;
  max-width: 800px;
}

/*********/
/* Intro */
/*********/
#intro {
  min-height: 100vh; /* Fill entire page */
  
  /* Evenly space content vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 120px;
  padding-right: 120px;

  max-width: 1200px;

  margin: 0 auto;
}
    #headline {
      max-width: 800px;
    }
    #intro__email {
      transition: 0.5s;
    }

/************/
/* Sections */
/************/
.section {
  margin-top: 200px;
  margin-bottom: 200px;
}
.section-title {
  margin-bottom: 30px;
}

/*********/
/* About */
/*********/
#bio {
  margin-bottom: 80px;
}
.fa-arrow-right {
  margin-left: 10px;
}

/**************/
/* Experience */
/**************/
.experience {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.experience-company, .experience-duration, .experience-title {
  margin-bottom: 0px;
}

/************/
/* Projects */
/************/
.project {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.project-name, .project-duration {
  margin-bottom: 0px;
}

#clarity-img {
  width: 100%;
}
#foodmap-img {
  width: 100%;
}

.project-tag {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;

  border-radius: 5px;
}

.project-description {
  margin-top: 10px;
  margin-bottom: 10px;
}

/**********/
/* Footer */
/**********/
.footer {
  margin-bottom: 20px;
}
.link {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}