.section-title {
  color: #339933;
}
.project-tag {
  color: #339933;
  border: 1px solid #339933;
}

*::selection {
  background-color: yellow;
}

img {
  user-select: none;
}

.fa-arrow-right {
  color: #339933;
}

.view-resume, .view-resume:hover {
  color: black;
}
