/***************/
/* Font Family */
/***************/
body {
  font-family: 'Quicksand', serif;
}
#intro {
  font-family: 'Quicksand', serif;
}
.section-title {
  font-family: 'Josefin Sans', sans-serif;
}

/*************/
/* Font Size */
/*************/
#intro > h2 {
  font-size: 40px;
}
#section-about > p {
  font-size: 18px;
}
.view-resume {
  font-size: 20px;
  font-weight: bold;
}
.project-name {
  font-size: 24px;
}
.project-tag {
  font-size: 14px;
}

/********/
/* Misc */
/********/
.experience-title {
  font-style: italic;
}